/*
   Brand base colors

   -> #4299E1
   -> #ED64A6 


*/

.cellphones {
   background: linear-gradient(
      -45deg,
      #faf089,
      #ed64a6,
      #4299e1,
      #90cdf4
   );
   background-size: 400% 400%;
   animation: gradient 8s ease infinite;
}

@keyframes gradient {
   0% {
      background-position: 0% 50%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 50%;
   }
}



.item {
   width: 75% !important;
   margin-left: 17.5%;
}