/* width */
::-webkit-scrollbar {
   width: 10px;
}


/* Track */
::-webkit-scrollbar-track {
   background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: rgb(180, 176, 176);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: rgb(155, 150, 150);
}
